@page
@using PlatformDemoClassLibrary.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <body>
        <h1>Customer List</h1>
        <hr/>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Customer Id</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Orders</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Customer customer in Model.Customers)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>@customer.Name</td>
                        <td>@customer.PhoneNumber</td>
                        <td>@Model.Orders.Count(order => order.CustomerId == customer.CustomerId)</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>
