@page
@using PlatformDemoWebApp.DTOs;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <body>
        <h1>Customer List</h1>
        <hr/>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <!-- Table Headers -->
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Number of Orders</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through Customers -->
                @foreach (CustomerResponse customer in Model.Customers)
                {
                    <tr>
                        <!-- Table Data -->
                        <td>@customer.Name</td>
                        <td>@customer.PhoneNumber</td>
                        <!-- Returns total number of order Per Customer -->
                        <td>@customer.TotalOrder</td>
                        <!-- Returns the total amount ordered Per Customer -->
                        <td>@customer.TotalAmount</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>
